#welcome {
  background-color: rgb(255, 165, 47);
  border-radius: 4rem;
  border-width: 2px;
  margin: 15vh auto 0 auto;
  width: 60vw;
  min-width: 300px;
  min-height: 450px;
  height: 60vh;
  text-align: center;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

body {
  background-color: rgb(251, 200, 124);
  color: white;
}

/** HEADER STYLING **/

.welcomeHeader {
  padding-top: 10vh;
}

#createAccountHeader {
  padding-top: 3vh;
}

#editProfileHeader,
#viewProfileHeader {
  padding-top: 5vh;
}

.dashboardHeader {
  margin-top: 5vh !important;
  padding-top: 5vh;
}

.userHeader {
  padding-top: 13vh;
}

h1 {
  font-size: calc(30px + 1vw);
  text-align: center;
}

h2 {
  font-size: calc(20px + 0.2vw);
  text-align: center;
}

/** SIGN IN AND CREATE ACCOUNT STYLING **/
#signIn,
#viewProfile,
#createAccount,
#editProfile {
  margin: auto;
  width: 40vw;
  background-color: rgb(255, 165, 47);
  border-radius: 30px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

#signIn,
#editProfile {
  height: 70vh;
  min-height: 400px;
}

#createAccount,
#viewProfile {
  height: 90vh;
  min-height: 750px;
}

input {
  width: 20vw;
  border-radius: 7px;
  font-size: calc(16px + 0.2vw);
  display: block;
  margin: auto;
  margin-top: -1vh;
}

select {
  text-align: center;
  width: 20vw;
  border-radius: 5px;
  height: 30px;
}

#position-select {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

/*TEXT COLOR */
.redText {
  color: red;
}

/*BUTTON CSS*/

.leftButton {
  margin-left: auto;
  display: inline-block;
  margin-right: 3vw;
}

.middleButton {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-right: 3vw;
}

.rightButton {
  margin-right: auto;
  display: inline-block;
}

#buttonContainer {
  margin-top: 3vh;
  text-align: center;
}

.singleButton {
  width: 45%;
}

.twoButtons {
  width: 30%;
}

.threeButtons {
  width: 25%;
}

#deleteProfileButton {
  margin-top: 3vh;
}

#submitPassword {
  margin-top: 3vh;
}

/* BUTTON CSS FROM DUOLINGO */
.button {
  appearance: button;
  background-color: rgb(223, 79, 27);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  padding: 30px 10px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:after {
  background-clip: padding-box;
  background-color: rgb(255, 140, 98);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}

.button:active {
  border-width: 4px 0 0;
  background: none;
}

/** PROFILE INFORMATION CSS **/
#profileInfo {
  width: 60%;
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  background-color: rgb(255, 137, 58);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding-bottom: 10px;
  padding-top: 10px;
}

#editProfileButton {
  margin-top: 5vh;
}

/** CALENDAR **/
#calendar {
  border-radius: 20px;
  width: 80%;
  height: 100vh;
}

#calendarHolder {
  text-align: center;
  margin-top: 8vh;
}

/**INPUT FORM STYLING **/
#lessTopMargin {
  margin-top: -2vh;
}

/**Show Matches Margin**/
#showMatches {
  margin-top: 3vh;
}
