#welcome {
  background-color: rgb(255, 165, 47);
  border-radius: 4rem;
  border-width: 2px;
  margin: 15vh auto 0 auto;
  width: 60vw;
  height: 60vh;
  text-align: center;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.welcomeHeader {
  padding-top: 10vh;
}

h1 {
  font-size: calc(30px + 1vw);
  text-align: center;
}

h2 {
  font-size: calc(20px + 0.2vw);
  text-align: center;
}

/** SIGN IN AND CREATE ACCOUNT STYLING **/
#signIn,
#createAccount {
  margin: auto;
  width: 40vw;
  background-color: rgb(255, 165, 47);
  height: 80vh;
  border-radius: 30px;
}

input {
  width: 20vw;
  border-radius: 7px;
  font-size: calc(16px + 0.2vw);
}

/* label {
  font-size: calc(20px + 1vw)
  text-align: center;
  font-weight: bold;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: auto;
} */

body {
  background-color: rgb(251, 200, 124);
  color: white;
}

/*TEXT COLOR */
.redText {
  color: red;
}

/*BUTTON CSS*/

.leftButton {
  margin-left: auto;
  display: inline-block;
  margin-right: 3vw;
}

.middleButton {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-right: 3vw;
}

.rightButton {
  margin-right: auto;
  display: inline-block;
}

#buttonContainer {
  margin-top: 5vh;
  text-align: center;
}

.singleButton {
  width: 45%;
}

.twoButtons {
  width: 30%;
}

.threeButtons {
  width: 25%;
}

/* BUTTON CSS FROM DUOLINGO */
.button {
  appearance: button;
  background-color: rgb(223, 79, 27);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  padding: 30px 10px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:after {
  background-clip: padding-box;
  background-color: rgb(255, 140, 98);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}

.button:active {
  border-width: 4px 0 0;
  background: none;
}

input {
  display: block;
  margin: auto;
}

/** PROFILE INFORMATION CSS **/
#profileInfo {
  width: 30%;
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  background-color: rgb(255, 165, 47);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding-bottom: 10px;
  padding-top: 10px;
}
